*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    height: 100000px;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

// ========== Common ==========
a {
    text-decoration: none;
}

.section-heading {
    color: #080415;
    font-weight: 500;
}

.section-heading.lv1 {
    font-size: 8rem;
    line-height: 0.95em;
    letter-spacing: -0.32rem;
}

.section-heading.lv2 {
    font-size: 5.6rem;
    line-height: 1.17;
    letter-spacing: -0.224rem;
}

.section-desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.btn {
    --height: 62px;

    border: none;
    outline: none;
    background: transparent;
    display: inline-block;
    min-width: 170px;
    padding: 0 20px;

    color: #fdfdfd;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: var(--height); /* 166.667% */
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

// ========== Header Top ==========
.header {
    background: #fbfaff;
}

.header-top {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.header__icons {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(93, 59, 238, 0.2);
}

.header__email {
    position: relative;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
}

.header__email::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #080415;
    left: 0;
    bottom: 3px;
}

.header__avatar {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.navbar__list {
    display: flex;
    align-items: center;
    column-gap: 43px;
}

.navbar__link {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

// ========== Hero ==========
.hero {
    padding-top: 44px;
}

.hero__images {
    position: relative;
    width: 514px;
    height: 705px;
}

.hero__media .hero__decor {
    position: absolute;
    top: -80px;
    right: -166px;
}

.hero__content {
    margin-top: 137px;
    position: relative;
}

.hero__img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero__desc {
    margin-top: 20px;
}

.hero__action {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero__call {
    background: #5d3bee;
}

.hero__work {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66; /* 166.667% */
    text-decoration-line: underline;
}

.hero__content .hero__decor {
    position: absolute;
    right: -100px;
    bottom: -80px;
}

.hero-social {
    margin-top: 104px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero-social__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero-social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}

.hero-social__title {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.87; /* 187.5% */
}

.hero-social__icon {
    width: 20px;
}

// ========== Client ==========
.client {
    padding: 60px 0;
    margin-top: 40px;
}

.client .client__heading {
    width: 235px;
    position: relative;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19; /* 119.048% */
    letter-spacing: -0.168rem;
}

.client__heading::before {
    content: "";
    position: absolute;
    top: 22px;
    left: -99px;
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.client__row {
    align-items: center;
}

.client__list {
    margin-left: auto;
    width: 65%;
    row-gap: 34px;
    justify-content: space-between;
}

// ========== Speciality ==========
.speciality {
    padding: 60px 0;
    margin-top: 73px;
}

.speciality__heading {
    margin: 0 auto;
    text-align: center;
}

.speciality__desc {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    width: 534px;

    color: #51586a;
    font-size: 1.8rem;
}

.speciality__row {
    margin-top: 60px;
    column-gap: 30px;
}

.speciality__icon-wrap {
    display: flex;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.05);
    align-items: center;
    justify-content: center;
}

.speciality-item {
    background: #fbfaff;
    padding: 33px 42px 32px 43px;
}

.speciality-item__heading {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.128rem;
}

.speciality-item__desc {
    margin-top: 15px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

// ========== Project ==========
.project {
    padding: 86px 0;
    background: #5d3bee;
}

.project__row {
    align-items: center;
}

.project__heading {
    color: #fff;
}

.project__desc {
    color: #fff;
    opacity: 0.7;
}

.project__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
    gap: 30px;
}

.project-item {
    position: relative;
    background: #fbfaff;
    padding: 0;
    padding: 24px 23px 23px 34px;
    overflow: hidden;
}

.project-item__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.project-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.128rem;
}

.project-item__desc {
    width: 220px;
    margin-top: 10px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.43; /* 143.75% */
}

.project-item__method {
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66; /* 166.667% */
    text-decoration-line: underline;
}

.project-item__image {
    width: 246px;
    height: 187px;
}

.project-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__btn-wrap {
    display: flex;
    justify-content: center;
}

.project__btn {
    margin-top: 96px;
    text-align: center;
    background: #fff;
    color: #080415;
}

// ========== Interactive ==========
.interactive {
    padding: 60px 0;
    margin-top: 80px;
}

.interactive__inner {
    display: flex;
    flex-direction: column;
}

.interactive__row {
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.interactive__subtitle {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.128rem;
}

.interactive__heading {
    margin-top: 10px;
    margin: 0 auto;
}

.interactive__desc {
    width: 570px;
    margin-top: 15px;
    text-align: center;
    margin: 0 auto;
}

.interactive-stats {
    position: relative;
    margin-top: 90px;
}

.interactive-stats::before,
.interactive-stats::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(8, 4, 21, 0.2);
}

.interactive-stats::before {
    top: -21px;
}

.interactive-stats::after {
    bottom: -21px;
}

.interactive-stats__inner {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.interactive-stats__value {
    position: relative;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35; /* 135.714% */
    letter-spacing: 0.168rem;
}

.interactive-stats__value::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: #080415;
}

.interactive__media {
    position: relative;
    margin-top: 70px;
}

.interactive__video {
    width: 100%;
    object-fit: cover;
}

.interactive__play,
.interactive__btn {
    position: absolute;
}

.interactive__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    outline: none;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.interactive__btn {
    right: 10px;
    bottom: 10px;
    background: #fff;

    color: #51586a;
    font-size: 1.8rem;
    font-weight: 700;
}
